<div class="row">
                        <div class="col-md-6" id="bandeau_gauche"
                             style="color: #000;  max-height: 500px; overflow: auto; margin: 0; padding-right: 0;">
                            <p style="background-color: #CCC; margin-bottom: 0; font-weight: bold; padding-top: 5px; padding-left:10px; font-size: 150%;">
                                                                    Pharmacies accessibles près de chez vous <br>
                                
                                                                    Journée du mercredi 09/08/2017
                                                            </p>

                                                            <p style="background-color:#47AA42; color: #FFF; margin-bottom: 0; font-weight: bold; padding-top: 5px; font-size: 100%; text-align: left; padding-left: 10px;">
                                    Les horaires des pharmacies étant variables, nous vous recommandons d'appeler avant
                                    de vous déplacer
                                </p>
                            
                            
                            
                            
                            <ul class="list_result">
                                                                    <li class="pan-to-marker" data-marker-lat="48.855099" data-marker-lng="2.360430">
                                        <b>PHARMACIE FUNARO</b> <br>
                                        <i class="fa fa-map-marker"></i> 119 R SAINT  ANTOINE 75004 PARIS <br>
                                                                                    <i class="fa fa-phone"></i> 01 42 72 20 44 <br>
                                                                                <i class="fa fa-location-arrow"></i>
                                        0.62
                                        km -
                                        <a target="_blank"
                                           href="https://www.google.fr/maps/dir/48.855099,2.360430/48.855099,2.360430/48.855099,2.360430,14z">
                                            Itinéraire
                                        </a>

                                        
                                                                            </li>
                                                            </ul>
                        </div>

                        <div class="col-md-6" id="bandeau_droite">
                            <div class="center img-polaroid" style="overflow: hidden;">
                                <div id="map" style="width:100%; height:500px;"></div>
                            </div>
                        </div>
                    </div>
                            

                            